

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#page-selection {
  text-align: center;
}

/* progress bar */
.progress-container {
  display: none;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
